.product {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--tg-theme-button-color);
    padding: 15px;
    width: 170px;
}

.img {
    width: 100%;
    background: lightcyan;
    height: 100px;
    margin: 0 auto;
    border: 1px solid var(--tg-theme-button-color);
}

.description {
    width: 100%;
}